/*
  Menu hamburguesa
*/

.hamburger {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  transition: .3s ease-in-out;
}

.hamburger:hover {
  background-color: var(--primary-modal-color);
}

.panel {
  position: fixed;
  z-index: 998;
  background-color: var(--second-color);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateX(100%);
  transition: .3s ease-in-out;
}

.panel.active{  
  transform: translateX(0);
}


.menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menu a {
  padding: 20px;
  text-align: center;
  color: #fff;
  transition: .3s ease-in-out;
}

.menu a:hover {
  background-color: var(--primary-modal-color);
}
